.container-logo img {
    float: left;
    width: 100%;
}

.container-logo {
    float: left;
    width: 60px;
}

header > div {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
}

.main-navbar {
    background: red;
}

ul.navbar-list {
    list-style: none;
    display: flex;
}

input[type="search"] {
    width: 100%;
    padding: 5px;
    margin: auto;
    background: lightblue;
    border: none;
    border-radius: 10px;
    outline: none;
}

button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin-top: 1px;
    padding-bottom: 1px;
}

.cart-buttonNav {
    display: flex;
}

p {
    margin-left: 4px;
}